#pizza_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;
    
}

.exclude{
    margin-top:10px;
    flex: 0 0 100%;
    text-align: center;
    font-size: 46px;
    font-family: 'Courgette', cursive;
    color:#dd8e15;
}

.menu_flex_container{
    
    margin-top:40px;
    margin-left:77px;
    margin-right:77px;
    margin-bottom:40px;
    width:350px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    text-align: center;
    background-color: #fff;
    border-radius: 20px;
   
}

.style_h2_menu{
    border-bottom: 5px dotted #dd8e15;
    padding-bottom: 15px;
    margin-left:auto;
    margin-right: auto;
    width:90%;
}

.p_box{
    height:150px;
    margin-left:auto;
    margin-right: auto;
    width:90%;
}

.p_left{
    margin-left:10px;
    margin-right:5px;
    text-align: left;
    font-size:18px;
    
}

.menu_item_img{
    display: block;
    width:351px;
    height:300px;
    margin-left:auto;
    margin-right: auto;
    border-top: 5px solid #dd8e15;
    border-radius: 25px;
}

.form_menu{
    border-radius: 25px;
}

.btn_remove{
    width:95%;
    height:50px;
    margin-top:20px;
    border-style: none;
    background-color: #dd8e15;
    color:#fff;
    border-radius: 20px;
    font-size:20px;
}

.btn_order{
    width:50%;
    height:50px;
    margin-top:20px;
    margin-left: 25%;
    border-style: none;
    background-color: #dd8e15;
    color:#fff;
    border-radius: 20px;
    font-size:20px;
}

#total_price {
    width:25%;
    height:40px;
    margin-top:20px;
    margin-left: 37.5%;
    border-style: solid;
    background-color: #ffffff;
    color:rgb(0, 0, 0);
    font-size:20px;
    text-align: center;
    padding-top: 10px;
}

.hr_border{
    
    width:60%;
    border: 2px solid #dd8e15;
}